.main-nav
    position: fixed
    z-index: 3
    top: 0
    left: 0
    width: 100%
    border-bottom: 1px solid rgba(white, 0.2)
    padding: 30px
    box-sizing: border-box
    +mainFlex
    flex-wrap: wrap
    +mainTransition

    &-logo
        position: relative
        a
            color: #ffffff
            font-weight: bold
            text-transform: uppercase
            font-size: 1.1em
            font-size: 1.1rem !important

    .menu-header
        display: none

    &-link, a
        display: inline-block
        margin: 0 8px
        color: #ffffff
        text-transform: uppercase
        font-family: $headerFont
        font-size: 0.8em
        font-size: 0.8rem
        font-weight: bold
        letter-spacing: 1px
        &:hover, &.active
            text-decoration: none
            color: lighten($secondaryColor, 25%)
        &.download-theme
            background: #ffffff
            color: $darkSecondaryColor
            padding: 5px 10px
            border-radius: $boxRadius
        &.active

    &.sticky
        padding-top: 20px
        padding-bottom: 20px
        background: rgba(black, 0.8)
        border-bottom: 1px solid #333333

.mobile-menu-button
    /* Customize your menu button */
    display: none
    padding: 8px 12px
    // background: #ffffff
    text-transform: uppercase
    cursor: pointer
    svg
        margin-right: 8px
        fill: #ffffff
        width: 20px

@media screen and (max-width: 960px)
    .main-nav
        flex-wrap: wrap
        max-width: 100%
        padding-top: 20px
        padding-bottom: 20px
        background: rgba(black, 0.8)
        border-bottom: 1px solid #333333
    .mobile-menu-button
        display: inline-block
        position: 
        z-index: 3
    .main-nav-links
        display: none
        position: absolute
        top: 0
        right: 0px
        width: 100%
        box-sizing: border-box
        &.open, &.close
            overflow: hidden
            display: block
            position: absolute
            background: $darkPrimaryColor
            padding-top: 40px
            padding-bottom: 25px
            animation: fadeInNav 0.3s ease-in-out 1
            .main-nav-link
                display: block
                padding: 15px
        &.close
            animation: fadeOutNav 0.5s ease-in-out 1 forwards

@keyframes fadeInNav
    0%
        opacity: 0
        transform: translateY(-40px)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes fadeOutNav
    0%
        transform: translateY(0)
        opacity: 1
    50%
        opacity: 0
        transform: translateY(-40px)
    100%
        opacity: 0
        height: 0