.testimonials-top, .testimonials-bottom
    position: relative
    // margin: 0
.testimonials-top
    fill: #ffffff
    margin-bottom: 30px
.testimonials-bottom
    fill: lighten($lightPrimaryColor, 35%)
    margin-top: 30px
    margin-bottom: -6px
.testimonials-section
    padding: 0
    background-image: url('../img/studio-office.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    position: relative

    .page-section-overlay
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: rgba($primaryColor, 0.85)

    &-item
        &-content
            position: relative
            text-shadow: 1px 1px 1px rgba(0,0,0,0.7)
            p
                position: relative
                z-index: 1
                font-size: 1.3em
                font-size: 1.3rem
                font-style: italic
                color: #ffffff
                line-height: 1.3
                letter-spacing: 1px
            .quote
                position: absolute
                z-index: 0
                top: -60px
                left: -40px
                font-size: 150px
                font-size: 150px
                font-weight: bold
                font-family: 'Times New Roman', serif
                color: $lightPrimaryColor
            .signature
                text-align: right
                em
                    color: lighten($lightPrimaryColor, 20%)
                    font-size: 1em
                    font-size: 1rem