.projects
    .projects-page-section
        padding-bottom: 0
    .page-section-inner
        max-width: none
        width: auto
        margin: 0
        padding: 0
    .main-section
        &-intro
            width: 90%
            max-width: 1000px
            margin: 0 auto 75px
            text-align: center
            font-size: 1.2em

        &-list

        &-item
            +mainFlex(space-between, stretch)
            flex-wrap: wrap
            margin-bottom: 100px
            &:last-child
                margin-bottom: 0

            .project-title
                text-align: center
                align-self: center
                justify-self: center
                flex: 0 0 100%
                font-size: 2em
                font-size: 2rem
                &::after
                    margin: 30px auto

            &-info
                background: linear-gradient(-45deg, lighten($primaryColor, 20%), $darkPrimaryColor)
                color: #ffffff
                +mainFlex(space-between, stretch)
                
                &.reverse
                    flex-direction: row-reverse
                    background: #ffffff
                    color: $primaryColor
                    .github-project-svg
                        height: 80px
                        margin: 0 auto
                    a svg
                        fill: #ffffff
                    
                    .project-skill
                        color: $primaryColor
                        background: lighten($lightPrimaryColor, 44%)
                        border-top: 1px solid lighten($lightPrimaryColor, 40%)
                        border-bottom: none
                        border-right: 1px solid lighten($lightPrimaryColor, 40%)

            &-content
                flex: 0 1 75%
                +mainFlex(center, flex-start, column)
                padding: 60px 15%
                box-sizing: border-box
                margin: 0 auto
                h3
                    text-transform: uppercase
                    font-size: 1.4em
                    font-size: 1.4rem
                    letter-spacing: 1px
                    color: inherit
                p
                    font-size: 1.1em
                    font-size: 1.1rem
                a
                    max-width: 250px
                    svg
                        fill: $primaryColor
                        margin-left: 5px
                        width: 20px
                        vertical-align: top

            &-skills
                flex: 0 1 25%
                +mainFlex(space-between, stretch)
                justify-items: stretch
                flex-wrap: wrap
                .project-skill
                    flex: 1 0 100%
                    +mainFlex(center, center)
                    text-align: center
                    font-size: 1.5em
                    font-size: 1.5rem
                    font-weight: bold
                    letter-spacing: 1px
                    color: #ffffff
                    background: $primaryColor
                    border-bottom: 1px solid lighten($primaryColor, 5%)
                    box-sizing: border-box
                    +mainTransition
                    &:last-child
                        border-bottom: none

            &-gallery
                flex: 0 0 100%
                overflow: hidden

                .inner-gallery
                    +mainFlex(flex-start, stretch)
                    flex-wrap: nowrap

                .gallery-item
                    display: block
                    flex: 1 0 33.33%
                    border: 1px solid $primaryColor
                    box-sizing: border-box

                    img
                        width: 100%

            &.project-components
                .gallery-item
                    background: #ffffff
                    border-color: lighten($lightPrimaryColor, 40%)
                .gallery-1, .gallery-2
                    +mainFlex(center)
                    flex-wrap: wrap
                    & > div
                        flex: 0 0 50%
                        text-align: center

                .gallery-3
                    +mainFlex(center, center)

@media screen and (max-width: 960px)
    .projects
        .main-section
            &-list

            &-item
                &-info
                    flex-wrap: wrap
                &-content
                    flex: 0 0 100%
                &-skills
                    flex: 0 0 100%
                    flex-direction: row
                    .project-skill
                        flex: 1 0 33.33%
                        padding: 15px 0
                        border-right: 1px solid lighten($primaryColor, 5%)
                
                &.project-folioclique
                    .inner-gallery

                    .gallery-item
                        flex: 1 0 50%

                &.project-components
                    .inner-gallery
                        +mainFlex(flex-start, stretch)
                        flex-wrap: wrap
                        .gallery-item
                            flex: 0 0 100%
                        .gallery-1, .gallery-2
                            // +mainFlex(center)
                            flex-wrap: wrap
                        
                            // & > div
                                // flex: 0 0 100%
                                // text-align: center
                        .gallery-2
                            padding: 20px 0
                            button
                                margin: 15px
                        .gallery-3
                            padding: 30px 0

                        // .gallery-3
                        //     +mainFlex(center, center)

@media screen and (max-width: 600px)
    .projects
        .main-section
            &-list

            &-item

                &.project-folioclique, &.project-webcomic
                    .gallery-item
                        flex: 1 0 100%
                
                &.project-webcomic
                    .inner-gallery
                        flex-wrap: wrap